body {
    text-align: center;
    background-color: #262626;
    margin: 0;
    padding: 0;
}
#wrapper{
    margin: 0 auto;
    width: 80%;
}
#info{
    width: 250px;
    height: 500px;
    border: 1px solid red;
    float: right;
}
/* -------- NAVIGATION -------- */
#navigation{
    width: 1000px;
    height: 37px;
    margin: 0 auto;
    background-color: black;
    font-family: 'Comic Sans MS', Arial, sans-serif;
    box-sizing: border-box;
    padding-bottom: 44px;
}
    #score, #timer{
        display: inline-block;
        margin: 5px 10px;
        padding: 3px 10px;
        box-sizing: border-box;
        width: 150px;
        height: 27px;
        color: #5CADFF;
    }
    #back, #pause{
        font-family: 'Indie Flower';
        font-weight: bold;
        display: inline-block;
        color: #5CADFF;
        margin-right: 17px;
        width: 100px;
    }
    #back:hover, #pause:hover{
        background-color: #5CADFF;
        font-family: 'Indie Flower';
        color: black;
        cursor: pointer;
        -webkit-transition: all .1s ease; /* For Safari 3.1 to 6.0 */
        transition: width 1s linear 2s;
    }
    #pause:focus{
        background-color: #5CADFF;
        color: black;
    }
    #score{
        width: 500px;
        color: #5CADFF;
    }
    #music{
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 40px;
        background: url("../IMG/sound-on.png") no-repeat;
        border: none;
        color: #5CADFF;
    }

/* ----------- MENU ----------- */
@font-face {
        font-family: 'Indie Flower';
        src: url('../font/IndieFlower.ttf');
    }
    #menu {
        text-align: center;
        background-image: url('../IMG/background_Menu_V3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px auto;
        width: 1000px;
        height: 600px;
    }
    .menu{
        float: right;
        width: 312px;
        height: 579px;
        background-color: black;
        opacity: 0.8;
        padding-top: 21px;
        margin-top: 0px;
}
    #start, #story, #controls, #about {
        font-family: 'Indie Flower', 'Comic Sans MS', Arial;
        display: block;
        padding: 15px;
        width: 300px;
        border: 0;
        font-size: 15px;
        color: #5CADFF;
        font-weight:bold;
        background:transparent;
    }
    #start:hover, #story:hover, #controls:hover, #about:hover{
        cursor:pointer;
        background-color: #5CADFF;
        color: black;
        font-size: 30px;
        -webkit-transition: all .3s ease; /* For Safari 3.1 to 6.0 */
        transition: all .3s ease;
    }
    #start:focus, #story:focus, #controls:focus, #about:focus{
    cursor:pointer;
    background-color: #5CADFF;
    color: black;
    font-size: 30px;
}
    #start{
        margin: 0 auto;
    }
    #story, #controls, #about {
        margin: 10px auto;
    }
/* ----------- END MENU ----------- */
.logo{
    margin-bottom: 61px;
    margin-top: 20px;
}
/* ----------- logo ----------- */
.logo{
    margin-bottom: 61px;
    margin-top: 20px;
}
/* ----------- END LOGO ----------- */
#game {
    /*position: fixed;*/
    /*background-image: url('../IMG/Backround_with_light.png'); */
    background-image: url('../IMG/background_V1_2.jpg');
}
/* ----------- MESSAGE ----------- */
#msg{
    width: 400px;
    height: 200px;
    margin:  5% 27%;
    position: absolute;
    display: block;
    background-color: #5CADFF;
    border-radius: 10px;
    opacity: 0.8;
    color: #000000;
    font-family: 'Indie Flower', 'Comic Sans MS', Arial;
}
/* ----------- MESSAGE ----------- */
#aboutInfo, #howToPlay, #gameStory{
    width: 500px;
    height: 450px;
    margin:  -37% 10%;
    padding-top: 10px;
    position: absolute;
    display: block;
    background-color: #5CADFF;
    border-radius: 10px;
    opacity: 0.8;
    color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 20px;
}
