body {
    text-align: center;
    background-color: palegoldenrod;
    margin: 0;
    padding: 0;
}
#wrapper{
    margin: 0 auto;
    width: 80%;
}
#info{
    width: 250px;
    height: 500px;
    border: 1px solid red;
    float: right;
}
/* -------- NAVIGATION -------- */
#navigation{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    background-color: forestgreen;
    font-family: 'Comic Sans MS', Arial, sans-serif;
    box-sizing: border-box;
}
    #back, #pause, #score, #timer{
        display: inline-block;
        margin: 5px 10px;
        padding: 5px 10px;
        border-radius: 10px;
        box-sizing: border-box;
        width: 150px;
        height: 30px;
    }
    #back, #pause{
        background-color: limegreen;
        border: none;
        width: 100px;
        font-family: 'Indie Flower';
        font-weight: bold;
    }
    #score{
        width: 500px;
    }
    #music{
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        background: url("../IMG/sound-on.png") no-repeat;
    }
    #countdown{

    }


/* ----------- MENU ----------- */
@font-face {
        font-family: 'Indie Flower';
        src: url('../font/IndieFlower.ttf');
    }
    #menu {
        text-align: center;
        background-color: grey;
        margin: 0px auto;
        padding-top: 50px;
        width: 1000px;
        height: 600px;
    }

    #start, #story, #controls, #about {
        font-family: 'Indie Flower', 'Comic Sans MS', Arial;
        display: block;
        padding: 15px;
        width: 300px;
        border: 0;
        background: rgb(35, 68, 101);
        font-size: 2.2em;
        color: rgb(255, 156, 0);
        border-radius: 15px;
    }

    #start{
        margin: 0 auto;
    }
    #story, #controls, #about {
        margin: 10px auto;
    }
/* ----------- END MENU ----------- */

#game {
    /*position: fixed;*/
    /*background-image: url('../IMG/Backround_with_light.png'); */
    background-image: url('../IMG/background_V1_2.jpg');
}

