body {
    text-align: center;
}

#info{
    width: 250px;
    height: 500px;
    border: 1px solid red;
    float: right;
}

#game {
    /*position: fixed;*/
    /*background-image: url('../IMG/Backround_with_light.png'); */
    background-image: url('../IMG/daisy-background.png');
}
